%h1 This is a test view

%hr/
.lesson
  this is a lesson div
%hr.bright/

%p some more test stuff here:

#left_column left column
#right_column right column
#middle_column middle column
%br.clear_both
#one_column single column

%hr.clear_both/
#middle_column.narrow.text_centered narrow middle column
