/*note to self -- padding: [top] [right] [bottom] [left];

Mini-tabs*/
.mini_icon#edit              {background-position: 0 0;     }
.mini_icon#go                {background-position: 0 -30px; }
.mini_icon#move              {background-position: 0 -60px; }
.mini_icon#delete            {background-position: 0 -90px; }
.mini_icon#expand            {background-position: 0 -120px;}
.mini_icon#collapse          {background-position: 0 -150px;}
.mini_icon#new               {background-position: 0 -180px;}
.mini_icon#video             {background-position: 0 -210px;}
.mini_icon#vote              {background-position: 0 -240px;}
.mini_icon#vote:hover        {height:90px; background-position: -30px -300px; top:-30px;}
.mini_icon#voteup            {background-position: 30px -330px}
.mini_icon#votedown          {background-position: 30px -360px}
.mini_icon#comment           {background-position: 0 -270px;}
.mini_icon#print             {background-position: 0 -300px;}
.mini_icon#history           {background-position: 0 -330px;}
.minitab                     {margin-right:1px;}
.minitab ul                  {list-style:none; padding:0; margin:0;}
.minitab li                  {background:transparent; width:28px; height:28px; float: left;
                              margin:1px 0 0 3px;}
.minitab li.divider          {width:10px; height:30px; float: left; margin-top:1px; background:
                              url(/images/mini_icons2.png); background-position:-10px -360px;}
.minitab li:hover            {background:#FF7A00;}
.minitab li.bright           {height:100%; border-bottom:2px solid #ffec6f; background:#ffec6f;}
.minitab li.light_blue       {height:100%; border-bottom:2px solid #9999ff; background:#9999ff;
                              margin:1px 0 0 4px;}
.minitab li.divider:hover    {background: url(/images/mini_icons2.png); background-position:-10px -360px;}
.minitab li.no_hover:hover   {background:none;}
.mini_icon                   {width:30px; height:30px; position:relative; top:-1px; left:-1px;
                             background: url(/images/mini_icons2.png);font-size:24px;}

/*New Part/Unit List */
.new_list ul         {list-style:none; margin:0; padding:0;}
.new_list li         {display:inline; margin-right:2em;}

/* Modules (boxes), etc. */
.subject, .chapter, .lesson, .new_part,
  .exam              {min-height:32px;
                      background:transparent url(/images/transparent_background_dark.png);}
.edit                {display:none;}
.video               {padding:5px; float:right;}
.comment_box         {width:40%; padding:5px; margin-top:-1px; float:right;}
.revision_box        {width:117px; padding:5px; margin-top:-1px; float:right;}
.revision            {height:479px; width:200px; background:url(/images/revisions.png) no-repeat;
                      position:relative; top: 0; right:0; clear:both;}
.comment             {padding:0 5px 5px 35px; margin-bottom: 5px;
                      background:transparent url(/images/transparent_background_light.png);}
.dark                {background:transparent url(/images/transparent_background_dark_arrow.png)
                      center right; padding-right:1em; margin-right:.2em;}
.light               {background:transparent url(/images/transparent_background_light_arrow.png)
                      center right; padding-right:1em; margin-right:.2em;}
.plain               {margin-right:.5em;}
.check               {width:40px; height:20px; background: url(/images/check.png);
                      padding:5px 0; text-align:center; color:#ffec6f;
                      font-size:70%; letter-spacing:-1px;font-weight:bold;}
             
/*Test-related*/
.right_answer        {padding: 0.5em 0; border:1px solid green; background:#99ff99;}
.wrong_answer        {padding: 0.5em 0; border:1px solid red; background:pink;}
.score               {padding: 0.5em 0; border:1px solid blue; background:#9999ff;}

/*Ads*/
.banner_ad          {float:right; border:1px solid; width:234px; height:60px; text-align:center;}
.wide_skyscraper_ad {float:right; border:1px solid; height:600px; width:160px;}
.bottom_ad          {border:1px solid; height:100%; padding:1%;}
