/*note to self -- padding: [top] [right] [bottom] [left];*/

/* Modules (boxes), etc. */
.subject, .chapter, .lesson, .new_part,
  .exam              {min-height:32px;
                      background:transparent url(/images/transparent_background_dark.png);}
.edit                {display:none;}
.video               {padding:5px; float:right;}
.comment_box         {width:40%; padding:5px; margin-top:-1px; float:right;}
.revision_box        {width:117px; padding:5px; margin-top:-1px; float:right;}
.revision            {height:479px; width:200px; background:url(/images/revisions.png) no-repeat;
                      position:relative; top: 0; right:0; clear:both;}
.comment             {padding:0 5px 5px 35px; margin-bottom: 5px;
                      background:transparent url(/images/transparent_background_light.png);}
.dark                {background:transparent url(/images/transparent_background_dark_arrow.png)
                      center right; padding-right:1em; margin-right:.2em;}
.light               {background:transparent url(/images/transparent_background_light_arrow.png)
                      center right; padding-right:1em; margin-right:.2em;}
.plain               {margin-right:.5em;}
.check               {width:40px; height:20px; background: url(/images/check.png);
                      padding:5px 0; text-align:center; color:#ffec6f;
                      font-size:70%; letter-spacing:-1px;font-weight:bold;}
             
/*Test-related*/
.right_answer        {padding: 0.5em 0; border:1px solid green; background:#99ff99;}
.wrong_answer        {padding: 0.5em 0; border:1px solid red; background:pink;}
.score               {padding: 0.5em 0; border:1px solid blue; background:#9999ff;}

/*Ads*/
.banner_ad          {float:right; border:1px solid; width:234px; height:60px; text-align:center;}
.wide_skyscraper_ad {float:right; border:1px solid; height:600px; width:160px;}
.bottom_ad          {border:1px solid; height:100%; padding:1%;}
